<launch>

    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find sopvo)/rviz/sopvo_kitti.rviz" />
    <param name="/yamlconfigfile" type="string" value="$(find sopvo)/config/kitti_1241.yaml"/>
    <param name="/voparamfilepath" type="string" value="$(find sopvo)/config/vo_params_kitti_melodic.yaml"/>
    <param name="/output_file_path" type="string" value="$(find sopvo)/results/kitti_stereo_15.txt" />
    <node pkg="rosbag" required="true" type="play" name="rosbag" args="$(find sopvo)/kitti/bag/kitti_stereo_15.bag"/>
    <arg name="node_start_delay" default="0.0" />
    <param name="/voc"             type="string" value="$(find sopvo)/voc/voc_orb.dbow3"/>
    <!-- Manager -->
    <node pkg="nodelet" type="nodelet" name="sopvo_nodelet_manager"  args="manager" output="screen"
    launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' "/>
    <!-- TrackingNode, stereo vision only -->
    <node pkg="nodelet" type="nodelet" args="load sopvo/TrackingNodeletClass sopvo_nodelet_manager"
        name="TrackingNodeletClass_loader" output="screen"
        launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' ">
        <param name="num_worker_threads" type="int" value="3" />
        <remap from="/vo/image0"   to="/camera/left/image_raw"/>
        <remap from="/vo/image1"   to="/camera/right/image_raw"/>
    </node>

    <!-- LocalMapNode -->
    <!--<node pkg="nodelet" type="nodelet" args="load sopvo/LocalMapNodeletClass sopvo_nodelet_manager"
        name="LocalMapNodeletClass_loader" output="screen"
        launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' ">
        <param name="/window_size" type="int" value="4" />
    </node>-->
    <!-- LoopClosingNode -->
    <!--<node pkg="nodelet" type="nodelet" args="load sopvo/LoopClosingNodeletClass sopvo_nodelet_manager"
        name="LoopClosingNodeletClass_loader" output="screen"
        launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' ">
    </node>-->

</launch>
